/* 전체 레이아웃 */
.body {
  max-width: 1024px;
  margin: auto;

  font-family: Arial, sans-serif;
  background-color: transparent;
  color: #333;
}

/* 카테고리 선택과 정렬 영역 */
.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.category-controls {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.category label {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  color: #555;
}

.category label select {
  margin-left: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  background-color: #f9f9f9;
  color: #333;
  transition: border-color 0.3s ease;
}

.category select:hover {
  border-color: #aaa;
}

.category select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* 로딩 메시지 스타일 */
.loadingMessage {
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
  padding: 2rem 0;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6); /* 반투명 검정 배경 */
  border-radius: 8px;
  margin: 1rem 0;
}

/* 상품 리스트 타이틀 */
.itemListTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
  padding: 0.5rem;
  background-color: #e0e0e0;
  border-radius: 8px;
}

/* 상품 리스트 및 아이템 스타일 */
.itemList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.items {
  list-style: none;
  flex: 1 1 calc(25% - 1rem);
  max-width: calc(25% - 1rem);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.items:hover {
  transform: translateY(-5px);
}

.LinkArea {
  color: black;
  text-decoration: none;
  display: block;
}

/* 이미지 컨테이너 */
.imageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: #f0f0f0;
}

.responsiveImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 상품 설명 */
.discription {
  padding: 1rem;
  text-align: center;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 0.5rem;
}

.price::before {
  content: "$";
  margin-right: 2px;
}

.rating {
  font-size: 0.9rem;
  color: #888;
}
