.body {
  display: flex;
  justify-content: center;
}

.detail {
  width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detail > * {
  border: 2px solid black;
}

.description {
  display: flex;
  flex-direction: row;
}

.descriptionMore {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.descriptionMoreWord::before {
  content: "상품 설명:\A";
  white-space: pre-wrap;
}

.image {
  margin-right: 40px;
  flex-shrink: 0;
  width: 430px;
  height: 430px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartList {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 15px;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
}
